body {
    font: 100%/1.4 'Times New Roman', Times, serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialised;
    -moz-font-smoothing: antialised;
    -ms-font-smoothing: antialised;
    -o-font-smoothing: antialised;
    display: block;
    background-color: ;
}
div {
    display: block;
}
.banner_home img {
    display: inline;
    width: 50%;
    max-width: 400px;
    height: auto;
} 
.banner {
    background-color: #000;
    color: #fff;
    margin: 0 0 2em;
    padding: 2% 1em;
    position: relative;
    outline: none;
}
.banner a {
    border-bottom: 0;
    color:#fff;
    text-decoration: none;
}
.banner h1 {
    font-size: 2em;
    line-height: 1;
    margin: 0;
}
h1 {
    font-size: 3em;
    margin-bottom: 0.15em;
}
h1,
h2,
h3 {
    font-family: Satisfy, cursive;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}
.banner_home {
    text-align: center;
    padding: 7% 0 5%;
}
footer {
    border-top: 1px solid #ccc;
    padding-top: 1em;
    font-size: 0.8em;
    font-style: italic;    
}
main,
footer {
    box-sizing: border-box;
    padding: 0 1em;
}
p,
ul {
    margin-top: 0;
    margin-bottom: 1.25em;
}
@media only screen and (min-width: 40.5em) {
#nav-menu {
    position: absolute;
    top: 3.75em;
    right: 0;
    white-space: nowrap;
}
#nav-menu mark a {
    background: #fff;
    color:#000;
}
#nav-menu a {
    border-radius: 5px 5px 0 0;
    color: #fff;
    line-height: 2em;
    padding: 0 1em;
}
#nav-menu ul {
    background: transparent;
    border: 0;
}
#nav-menu li,
#nav-menu a {
    border: 0;
    display: inline-block;
}
.banner {
    padding: 1em;
}
}
nav a {
    border-bottom: 1px solid #000;
    color: #000;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 2;
    padding: 0 1em;
    outline: none;
    transition: background .4s, color 0s .1s;
}
nav mark a {
    background: #000;
    color: #fff;
}
a {
    color: green;
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: background .5s, color .5s;
}
nav ul {
    background: #fff;
    background-color: ;
    color: #000;
    border-top: 1px solid;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav {
    outline: none;
}
header,
main,
nav {
    margin-bottom: 1em;
}
header,
main,
nav,
footer {
    margin: 0 auto;
    max-width: 960px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
picture, img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
.homePage #nav-menu {
    position: static;
    text-align: center;
    margin: 1em auto;
    padding: 0;
    white-space: normal;
}
.fig_caption {
    font-size: 0.875em;
    font-style: italic;
    margin: 1em 0 0;
}
.fig_source {
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 0.7857em;
    padding: 0.5em 0.75em;
    position: absolute;
    top: 0;
    right: 0;
}
.fig_source a {
    color: white;
    color: inherit;
    text-decoration: none;
}
a:hover,
a:focus, 
a:active {
    color: red;
    border-bottom-style: solid;
}
video {
    object-fit: contain;
}
.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
cite {
    font-style: normal;
}
@media only screen and (min-width: 40.5em) and (max-width: 59.99em) {
    .gallery {
        overflow: hidden;
    }
}